<%= render "shared/sideber" %>

<!-- メインページ -->
<div class="index-container" style="background-image: url('/assets/bg_nature.jpg');">
  <main class="bg-denger">
  <div class="test overflow-auto">
  
    <div class="main-logo">
      <h1><%= l Date.today, format: "%Y/%m/%d (%a)" %>の記録</h1>
      
    </div>
    <!-- <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-danger"  %>
    <%= link_to 'ログイン', new_user_session_path, method: :get, class: "btn btn-danger"  %> -->

    <!-- 一覧表示 -->
    <div class="container test ">
      <div class="row">
        <% @training.reverse_each do |training| %>
          <div class="col-md-6">
            <%= link_to edit_training_path(training.id) do %>
              <div class="card p-3 mb-3">
                <figure class="p-3 mb-0">
                  <blockquote class="blockquote">
                    <p><%= training.boxing.name %></p>
                  </blockquote>
                  <figcaption class="blockquote-footer mb-0 text-muted">
                    <%= l training.created_at %>
                  </cite>
                  </figcaption>
                </figure>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    
    
 
  </div>
  </main>
</div>
