
<div class="d-flex">
<!-- #Sidebar# -->
<div class="d-flex  flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100vh;  ">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">メニュー</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <%= link_to new_training_path, class: "nav-link active ", "aria-current" => "page" do %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        記録する
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_training_path, class: "nav-link active ", "aria-current" => "page" do %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        日記(工事中)
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_training_path, class: "nav-link active ", "aria-current" => "page" do %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        ひとりごと(工事中)
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_training_path, class: "nav-link active ", "aria-current" => "page" do %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        好きなこととか(工事中)
      <% end %>
    </li>
    
    
    
  </ul>
  <hr>
  <% if user_signed_in? %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-danger"  %>
    <%= link_to current_user.name, "#", class: ""  %>
  <% elsif %>
  <%= link_to 'ログイン', new_user_session_path, method: :get, class: "btn btn-danger"  %>
  <% end %>
</div>

<!-- メインページ -->
<div class="test d-flex h-100 bg-black ">
<div class="main-index">
  <div class="main-logo">
    <h1>トレマネ~便利な運動管理アプリ~</h1>
  </div>
  <!-- <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-danger"  %>
  <%= link_to 'ログイン', new_user_session_path, method: :get, class: "btn btn-danger"  %> -->

  


  <!-- 一覧表示 -->
  <div class="container test ">
    <div class="row">
      <% @training.reverse_each do |training| %>
        <div class="col-md-6">
          <%= link_to edit_training_path(training.id) do %>
            <div class="card p-3 mb-3">
              <figure class="p-3 mb-0">
                <blockquote class="blockquote">
                  <p><%= training.boxing.name %></p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0 text-muted">
                  <%= l training.created_at %></cite>
                </figcaption>
              </figure>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  
  
</div>
</div>