<!-- <%= form_with(model: @model) do |form| %>
  <%= form.date_field :date, value: Date.current %>
  <%= form.submit %>
<% end %> -->
<div class="new_main">
<div class="boxing_form">
  <%= flash[:notice] %>
  <%= form_with model: @training, url:trainings_path, local: true do |f| %>
    <h1>ボクシングの記録</h1>
  <%= f.collection_select(:boxing_id, Boxing.all, :id, :name, {}, {class:"select-box"}) %><span class="indispensable">必須</span>
  <br>
  <%= f.submit "投稿する" ,class:"btn" %>
  <% end %>
</div>
</div>